<!doctype html>
<html lang="{{ metadata.language }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ title or metadata.title }}</title>
  <meta name="description" content="{{ description or metadata.description }}">
  {% if published === false %}<meta name="robots" content="noindex"/>{% endif %}
  {% set absolutePostUrl %}{{ page.url | htmlBaseUrl(metadata.url) }}{% endset %}

  {% if canonical_href %}
  <link rel="canonical" href="{{ canonical_href }}" />
  {% else %}
  <link rel=“canonical” href=“{{ absolutePostUrl }}” />
  {% endif %}

  <link rel="alternate" href="/rss.xml" type="application/rss+xml" title="{{ metadata.title }}">

  <meta name="generator" content="{{ eleventy.generator }}">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">

  {%- css %}{% include "public/css/normalize.css" %}{% endcss %}
  {%- css %}{% include "public/css/style.css" %}{% endcss %}
  {%- css %}{% include "node_modules/prismjs/themes/prism-tomorrow.css" %}{% endcss %}

  <link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
  <link rel="webmention" href="https://webmention.io/blog.andrewshell.org/webmention" />
  <link rel="alternate" type="application/activity+json" href="https://fed.brid.gy/r/{{ page.url | htmlBaseUrl(metadata.url) | encodeURIComponent}}">
  {% if metadata.production %}
  <script defer src="https://cloud.umami.is/script.js" data-website-id="ad25b1ce-ffdd-4f98-8dc8-cea81b233a1a"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-157PZ293W0"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-157PZ293W0');
  </script>
  {% endif %}
</head>
<body>
<div class="global-wrapper" itemscope itemtype="{{ pagetype or 'https://schema.org/WebPage' }}">
<header class="global-header">
{% if fullHeader %}
<h1 class="main-heading">
  <a href="/">{{ metadata.title }}</a>
</h1>
<p>{{ metadata.description }}</p>
{% else %}
<a class="header-link-home" href="/">{{ metadata.title }}</a>
{% endif %}
</header>
<main>{{ content | safe }}</main>
<footer>
© {{ "" | currentYear }}, Built with <a href="https://www.11ty.dev/">11ty</a>
<ul class="hlist">
<li><strong>Social:</strong></li>
<li><a href="/rss.xml">RSS</a></li>
<li><a rel="me" href="https://twitter.com/andrewshell">Twitter</a></li>
<li><a rel="me" href="https://indieweb.social/@andrewshell">Mastodon</a></li>
<li><a rel="me" href="https://github.com/andrewshell">GitHub</a></li>
<li><a rel="me" href="https://gravatar.com/andrewshell">Gravatar</a></li>
</ul>
<p>
  <a href="https://xn--sr8hvo.ws/previous">←</a>
  An <a href="https://xn--sr8hvo.ws">IndieWeb Webring</a> 🕸💍
  <a href="https://xn--sr8hvo.ws/next">→</a>
  <br>
  <a href="https://fediring.net/previous?host=blog.andrewshell.org">←</a>
  <a href="https://fediring.net/">Fediring</a>
  <a href="https://fediring.net/next?host=blog.andrewshell.org">→</a>
</p>
</footer>
</div>
</body>
</html>
