---
layout: layouts/base.njk
---
<article class="blog-post h-entry" itemscope itemtype="{{ itemtype or 'https://schema.org/BlogPosting' }}">
<header>
	<h1 class="p-name" itemprop="headline">{{ title }}</h1>
{% if enclosure %}
<audio controls><source src="{{ enclosure.url }}" type="audio/mpeg">Your browser does not support the audio tag.</audio>
{% endif %}
</header>
<section class="e-content" itemprop="articleBody">
{{ content | safe }}
{% if canonical_href %} 
<p><a href="{{ canonical_href }}">This essay was originally published on my Substack newsletter.</a></p>
{% endif %}
<p>
{%- set absolutePostUrl %}{{ page.url | htmlBaseUrl(metadata.url) }}{% endset %}
<a href="{{ absolutePostUrl }}" class="u-url" rel="me" itemprop="url"><time class="small dt-published" itemprop="datePublished" datetime="{{ created | htmlDateString }}" }>Published {{ created | readableDate('DDD') }}</time></a>
{% if isDiffDay(created, date) %}
<br><time class="small dt-updated" itemprop="dateModified" datetime="{{ date | htmlDateString }}" }>Updated {{ date | readableDate('DDD') }}</time>
{% endif %}
</p>
</section>
<hr>
<footer>
{% include "bio.njk" %}
</footer>
</article>

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<nav class="blog-post-nav">
<ul>
{%- if previousPost %}<li><a rel="prev" href="{{ previousPost.url }}">← {{ previousPost.data.title }}</a></li>{% endif %}
{%- if nextPost %}<li><a rel="next" href="{{ nextPost.url }}">{{ nextPost.data.title }} →</a></li>{% endif %}
</ul>
</nav>
{%- endif %}
{%- endif %}